.wrapper {
   --search-border-radius: 92px;
   --search-height: 46px;
   --search-top-spacer: 9px;
   --search-button-width: 52px;

   width: 100%;
   height: var(--default-layout-header-height, 60px);
   box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
   display: flex;
   justify-content: center;
}

.inner {
   height: 100%;
   width: var(--default-layout-width);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.search {
   position: relative;
   width: 361px;
   height: var(--search-height);
   padding-left: 16px;
   background-color: rgba(22, 24, 35, 0.06);
   border-radius: var(--search-border-radius);
   border: 1.5px solid transparent;
   display: flex;
   input {
      flex: 1;
      height: 100%;
      color: var(--black);
      font-size: 1.6rem;
      background-color: transparent;
      caret-color: var(--primary);
   }

   input:not(:placeholder-shown) ~ .search-btn {
      color: rgba(22, 24, 35, 0.75);
   }
   &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: calc(var(--search-height) - 2 * var(--search-top-spacer));
      top: var(--search-top-spacer);
      right: var(--search-button-width);
      background-color: rgba(22, 24, 35, 0.12);
   }

   // &:focus-within {
   //    border: 1.5px solid rgba(22, 24, 35, 0.2);
   // }
   &:hover {
      border: 1.5px solid rgba(22, 24, 35, 0.2);
   }
}

.clear,
.loading {
   position: absolute;
   right: calc(var(--search-button-width) + 16px);
   top: 50%;
   transform: translateY(-50%);
   color: rgba(22, 24, 35, 0.34);
}

.search-btn {
   width: var(--search-button-width);
   height: 100%;
   border-radius: 0 var(--search-border-radius) var(--search-border-radius) 0;
   font-size: 1.8rem;
   color: rgba(22, 24, 35, 0.34);
   &:hover {
      cursor: pointer;
      background-color: rgba(22, 24, 35, 0.03);
   }
   &:active {
      color: rgba(22, 24, 35, 0.06);
   }
}
